pypdf 
pandas
python-dotenv
ipykernel
langgraph
langchain-groq
langchain
langsmith
dotenv
IPython
langchain-tavily 
langchain-google-genai
playwright
mcp
langchain-mcp-adapters
langchain_ollama
fastapi
uvicorn
psycopg[binary]
